Repository microsoft/FactoryOrchestrator, pull requests merged in 2020-10, with the labels that each got.

#37 Exclude docfx styles folder from policheck
  build/config/PolicheckExclusions.xml
  src/FactoryOrchestrator.sln
Labels: build

#44 Touchdown Build needs unique paths
  build/azure-pipelines.loc.yml
Labels: build

#50 Fix: AssemblyInfo is not being set properly by PackageES
  build/SetSourceVersion.ps1
  src/App/Properties/AssemblyInfo.cs
  src/ClientLibrary/Properties/AssemblyInfo.cs
  src/ClientSample/Properties/AssemblyInfo.cs
  src/CoreLibrary/Properties/AssemblyInfo.cs
  src/ServerLibrary/Properties/AssemblyInfo.cs
  src/Service/Properties/AssemblyInfo.cs
Labels: bug, build

#54 Create data-driven test xml for TAEF
  build/internal/CreateTestZip.ps1
Labels: QOL, build

#56 Use uppercase for folder exclusion
  build/config/PolicheckExclusions.xml
Labels: build

#40 initial commit of the fo docs and necessary basics for mkdocs static site generation
  .gitignore
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/docs/factory-orchestrator-utilities.md
  docs/docs/get-started-with-factory-orchestrator.md
  docs/docs/images/build-fo-uwp-1.png
  docs/docs/images/build-fo-uwp-2.png
  docs/docs/images/build-fo-uwp-3.png
  docs/docs/images/build-fo-uwp-4.png
  docs/docs/images/build-fo-uwp-5.png
  docs/docs/images/create-new-tasklist.png
  docs/docs/images/edit-task.png
  docs/docs/images/edit-tasklist-page.png
  docs/docs/images/existing-tasklists.png
  docs/docs/images/external-task.png
  docs/docs/images/externalTaskNoMedia.png
  docs/docs/images/externalTaskPicture.png
  docs/docs/images/externalTaskVideo.png
  docs/docs/images/fo-background-tasks-executing.png
  docs/docs/images/fo-cmd.png
  docs/docs/images/fo-follow-tasks.png
  docs/docs/images/fo-image.jpg
  docs/docs/images/fo-logo.png
  docs/docs/images/fo-version-number.png
  docs/docs/images/fo-video.jpg
  docs/docs/images/import-sxml.png
  docs/docs/images/load-folder-as-tasklist.png
  docs/docs/images/load-tasklist-from.png
  docs/docs/images/re-run-task.png
  docs/docs/images/run-a-tasklist.png
  docs/docs/images/running-tasklist.png
  docs/docs/images/save-icon.png
  docs/docs/images/save-tasklists.png
  docs/docs/images/symbols-icon.png
  docs/docs/images/tasklist-rename.png
  docs/docs/images/test-results.png
  docs/docs/index.md
  docs/docs/tasks-and-tasklists.md
  docs/docs/use-the-factory-orchestrator-api.md
  docs/docs/use-the-factory-orchestrator-app.md
  docs/mkdocs.yml
  docs/requirements.txt
Labels: documentation

#58 Limit container Task types; Support legacy powershell.exe
  src/CoreLibrary/Resources/Resources.Designer.cs
  src/CoreLibrary/Resources/Resources.resx
  src/CoreLibrary/SharedClasses.cs
  src/ServerLibrary/ServerClasses.cs
  src/Service/ServiceExe.cs
  src/Tests/ClientSampleIntegrationTest/ClientSampleIntegrationTests.cs
  src/custom.props
Labels: bug, enhancement

#57 Move resource files to correct location after TDBuild
  build/azure-pipelines.loc.yml
Labels: build
